{:blocks (
{:block/created-at 1685772932170
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:rotation 0
:borderRadius 2
:index 0
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "box"
:size [187 62]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label "Software"
:id "aaae8550-01d5-11ee-85eb-5dff6df8899a"
:fontWeight 400
:noFill false
:point [521.5 17.5]
:fontSize 20
:parentId "647ad9b2-99ec-4c6c-bb6d-d427d838a062"
:nonce 1685772770067
:italic false}}
:block/updated-at 1685772932170} 
{:block/created-at 1685772861092
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:borderRadius 2
:index 1
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "box"
:size [256 80]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label "System Software"
:id "b5754f50-01d5-11ee-85eb-5dff6df8899a"
:fontWeight 400
:noFill false
:point [244.5 144.5]
:fontSize 20
:parentId "647ad9b2-99ec-4c6c-bb6d-d427d838a062"
:nonce 1685772788022
:italic false}}
:block/updated-at 1685772861092} 
{:block/created-at 1685772858974
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:rotation 0
:borderRadius 2
:index 2
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "box"
:size [263 75]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label "Application Software"
:id "b92cb200-01d5-11ee-85eb-5dff6df8899a"
:fontWeight 400
:noFill false
:point [708.5 149.5]
:fontSize 20
:parentId "647ad9b2-99ec-4c6c-bb6d-d427d838a062"
:nonce 1685772794333
:italic false}}
:block/updated-at 1685772858974} 
{:block/created-at 1685772883378
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 3
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "e731b382-01d5-11ee-85eb-5dff6df8899a"
:fontWeight 400
:noFill true
:point [504.5 80.5]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [99.09 0]
:bindingId "ed15e141-01d5-11ee-85eb-5dff6df8899a"}
:end 
{:id "end"
:canBind true
:point [0 88.14]
:bindingId "e99b3971-01d5-11ee-85eb-5dff6df8899a"}}
:decorations 
{:end "arrow"}
:parentId "647ad9b2-99ec-4c6c-bb6d-d427d838a062"
:nonce 1685772871470
:italic false}}
:block/updated-at 1685772883378} 
{:block/created-at 1685772926717
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 4
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "f095b932-01d5-11ee-85eb-5dff6df8899a"
:fontWeight 400
:noFill true
:point [638.13 80.5]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]
:bindingId "f095b930-01d5-11ee-85eb-5dff6df8899a"}
:end 
{:id "end"
:canBind true
:point [66.37 91.84]
:bindingId "f095b931-01d5-11ee-85eb-5dff6df8899a"}}
:decorations 
{:end "arrow"}
:parentId "647ad9b2-99ec-4c6c-bb6d-d427d838a062"
:nonce 1685772887165
:italic false}}
:block/updated-at 1685772926717})
:pages (
{:block/uuid #uuid "647ad9b2-99ec-4c6c-bb6d-d427d838a062"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "647ad9b2-99ec-4c6c-bb6d-d427d838a062"
:name "software classification"
:bindings 
{:e99b3971-01d5-11ee-85eb-5dff6df8899a 
{:id "e99b3971-01d5-11ee-85eb-5dff6df8899a"
:type "line"
:fromId "e731b382-01d5-11ee-85eb-5dff6df8899a"
:toId "b5754f50-01d5-11ee-85eb-5dff6df8899a"
:handleId "end"
:point [0.85 0.72]
:distance 4}
:ed15e141-01d5-11ee-85eb-5dff6df8899a 
{:id "ed15e141-01d5-11ee-85eb-5dff6df8899a"
:type "line"
:fromId "e731b382-01d5-11ee-85eb-5dff6df8899a"
:toId "aaae8550-01d5-11ee-85eb-5dff6df8899a"
:handleId "start"
:point [0.63 0.49]
:distance 4}
:f095b930-01d5-11ee-85eb-5dff6df8899a 
{:id "f095b930-01d5-11ee-85eb-5dff6df8899a"
:type "line"
:fromId "f095b932-01d5-11ee-85eb-5dff6df8899a"
:toId "aaae8550-01d5-11ee-85eb-5dff6df8899a"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:f095b931-01d5-11ee-85eb-5dff6df8899a 
{:id "f095b931-01d5-11ee-85eb-5dff6df8899a"
:type "line"
:fromId "f095b932-01d5-11ee-85eb-5dff6df8899a"
:toId "b92cb200-01d5-11ee-85eb-5dff6df8899a"
:handleId "end"
:point [0.09 0.73]
:distance 4}}
:nonce 1
:assets []
:shapes-index ("aaae8550-01d5-11ee-85eb-5dff6df8899a" "b5754f50-01d5-11ee-85eb-5dff6df8899a" "b92cb200-01d5-11ee-85eb-5dff6df8899a" "e731b382-01d5-11ee-85eb-5dff6df8899a" "f095b932-01d5-11ee-85eb-5dff6df8899a")}}
:block/journal? false
:block/updated-at 1685772933604
:block/created-at 1685772722693
:block/type "whiteboard"
:block/name "software classification"
:block/original-name "software classification"})}